name: build

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 12 * * *'
  push:
    branches:
      - main


jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Login to docker registry
      run: echo "${DOCKERHUB_REGISTRY_PASSWORD}" | /usr/bin/docker login -u "${DOCKERHUB_REGISTRY_USER}" --password-stdin
      env:
        DOCKERHUB_REGISTRY_USER: ${{ secrets.DOCKERHUB_REGISTRY_USER }}
        DOCKERHUB_REGISTRY_PASSWORD: ${{ secrets.DOCKERHUB_REGISTRY_PASSWORD }}
    - name: Fetch lego release version
      run: |
        curl -sL https://api.github.com/repos/go-acme/lego/releases/latest | \
        jq -r ".tag_name" > latestversion.txt
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      with:
        platforms: all
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
      with:
        version: latest
    - name: Build Image
      run: |
        version=$(cat latestversion.txt) \
        && docker buildx build \
        --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8 \
        --output "type=image,push=true" \
        --build-arg VERSION=$version \
        --tag brahmadev/acme-lego-cron:$version . \
        && docker buildx build \
        --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8 \
        --output "type=image,push=true" \
        --build-arg VERSION=$version \
        --tag brahmadev/acme-lego-cron:latest .
    - name: Clean-up
      run: rm -f ${HOME}/.docker/config.json
      if: always()
