name: build

on:
  workflow_dispatch:
  # schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   - cron:  '0 12 * * *'
  # push:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - name: Login to docker registry
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_REGISTRY_USER }}
        password: ${{ secrets.DOCKERHUB_REGISTRY_PASSWORD }}
    - name: Log in to the github registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Fetch lego release version
      id: legover
      run: |
        echo "version=$(curl -sL https://api.github.com/repos/go-acme/lego/releases/latest | jq -r '.tag_name')" >> "$GITHUB_OUTPUT"
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      with:
        platforms: all
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
      with:
        version: latest
    - name: Build and push
      id: push
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm/v7,linux/arm64
        push: true
        tags: |
          brahmadev/acme-lego-cron:latest
          brahmadev/acme-lego-cron:${{ steps.legover.outputs.version }}
          ghcr.io/brahma-dev/acme-lego-cron:latest
          ghcr.io/brahma-dev/acme-lego-cron:${{ steps.legover.outputs.version }}
    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v1
      with:
        subject-name: ghcr.io/brahma-dev/acme-lego-cron:latest
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v1
      with:
        subject-name: brahmadev/acme-lego-cron:latest
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
    - name: Clean-up
      run: rm -f ${HOME}/.docker/config.json
      if: always()
